<h1>Edit Profile</h1>
{{if .ShowErrorMessage}}
<label style="color: #e91111;">{{.ErrorMessage}}</label><br>
{{end}}
<form method="POST" action="/profile/edit">
    <label>Name:</label><br />
    <input type="text" name="name" value="{{.Name}}"><br />

    <label>Email:</label><br />
    <input type="email" name="email" value="{{.Email}}"><br />

    <label>Telephone:</label><br />
    <input type="text" name="telephone" value="{{.Telephone}}"><br />

    <label>Address:</label><br />
    <input type="text" name="address" value="{{.Address}}"><br />

    <button type="submit">Save Profile</button>
</form>
<button type="button"><a href="/logout">Logout</a></button>