<h1>Forgot Password?</h1>
<form method="POST" action="/password/forgot">
    {{if .ShowErrorMessage}}
    <label style="color: #e91111;">{{.ErrorMessage}}</label><br>
    {{end}}
    <label>Email:</label><br />
    <input type="email" name="email"><br />
    <button type="submit">Send Reset Email</button>
</form>
<button type="button"><a href="/google-auth">Login With Google</a></button><br><br>
Create a new account? <a href="/signup">Login</a>
