<h1>Login</h1>
<form method="POST" action="/login">
    {{if .ShowErrorMessage}}
    <label style="color: #e91111;">{{.ErrorMessage}}</label><br>
    {{end}}
    <label>Email:</label><br />
    <input type="text" name="email"><br />
    <label>Password:</label><br />
    <input type="password" name="password"><br />
    <button type="submit">Login</button>
</form>
<button type="button"><a href="/google-auth">Login With Google</a></button><br><br>
Don't have account? <a href="/sign-up">Signup</a><br><br>
Forgot password? <a href="/password/forgot">Reset</a>
