<h1>You are not an authorized user</h1>
{{if .ShowErrorMessage}}
<label style="color: #e91111;">{{.ErrorMessage}}</label><br>
{{end}}
<button type="button"><a href="/sign-up">Signup</a></button>
<button type="button"><a href="/login">Login</a></button>