<h1>Profile</h1>
<table>
    <tr>
      <td>Name</td>
      <td>: {{.Name}}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>: {{.Email}}</td>
    </tr>
    <tr>
      <td>Telephone Number</td>
      <td>: {{.Telephone}}</td>
    </tr>
    <tr>
      <td>Address</td>
      <td>: {{.Address}}</td>
    </tr>
</table>
<button type="button"><a href="/logout">Logout</a></button><br><br>
<button type="button"><a href="/profile/edit">Edit profile</a></button>