<h1>change Password</h1>
{{if .ShowErrorMessage}}
<label style="color: #e91111;">{{.ErrorMessage}}</label><br>
{{end}}
<form method="POST" action="/password/reset">

    <label>Email</label><br />
    <input type="email" name="email" value="{{.Email}}"><br />
    <label>OTP</label><br />
    <input type="text" name="otp" value="{{.Otp}}"><br />
    <label>New Password:</label><br />
    <input type="password" name="new_password"><br />
    <label>Confirm Password:</label><br />
    <input type="password" name="confirm_password"><br />
    <button type="submit">Change Password</button>
</form>