<h1>Sign Up</h1>
<form method="POST" action="/sign-up">
    {{if .ShowErrorMessage}}
    <label style="color: #e91111;">{{.ErrorMessage}}</label><br>
    {{end}}
    <label>Email:</label><br />
    <input type="email" name="email"><br />
    <label>Password:</label><br />
    <input type="password" name="password"><br />
    <button type="submit">Sign Up</button>
</form>
<button type="button"><a href="/google-auth">Login With Google</a></button><br><br>
Already have account? <a href="/login">Login</a>
